@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif, monospace;
    color: #efefef;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #020200;
}

/* Main */
main {
    height: 100vh;
    background-size: cover;
    background-image: url("images/background.webp");
}

.intro {
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#me-img {
    border: 3px solid #efefef;
    border-radius: 50%;
    background-color: #020200;
}

.main-title {
    margin-top: 30px;
}

/* Typing Animation */
.container {
    margin-top: 10px;
}

.container p {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font-weight: normal;
    color: #8be9fd;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

/* Social Icons */
.social-icons {
    margin: 30px 0;
}

.social-icons i {
    color: #efefef;
    font-size: 1.5rem;
    margin: 0 10px;
}

.social-icons a {
    transition: 200ms ease-out;
}

.social-icons a:hover {
    opacity: 70%;
    transition: 100ms;
}

#email {
    text-decoration: none;
}

/* Underline Animation */
.email-hover {
    display: inline-block;
    position: relative;
}

.email-hover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.4px;
3    bottom: 0;
    left: 0;
    background-color: #8be9fd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.email-hover:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;
}
